<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="filebox">
                <form action="/upload_text_file" method="POST" enctype="multipart/form-data" id="filepath">
                    
                    <label>Enter file path here</label>
    
                    <h> 
                        <input type="file" name="txtfile" id="textfile" >
                    </h><br><br>
                    <input type="submit" name="submitfile" value="GET SUMMARY">    
    
                </form>
    
            </div>
</body>
</html>